@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family: "Nunito", sans-serif;
    margin: 0;
    font-weight: bold;
    color: yellow;
    background-color: black;
    background-image: linear-gradient(315deg, #eeff00 0%, #000000)
}
.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .2s;
    justify-content: space-between;
}
svg{
    width: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .icon-cart{
    position: relative;
}
header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}
.listproduct .item img{
    width: 90%;
}
.listproduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listproduct .item{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}
.listproduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listproduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listproduct .item button{
    background-color: yellow;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    font-weight: bold;
}
.cartTab{
    width: 400px;
    background-color: rgb(29, 29, 26);
    color: yellow;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 2 s;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color: yellow;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: white;
}
.cartTab .listCart .item img{
    width: 100%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}
.listCart quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.pic1 img{
align-content: start;
    width: 70px;
}

